# EditorConfig - Consistent coding styles
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript/TypeScript - Prettier formatting
[*.{js,mjs,cjs,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# JSON - Prettier formatting
[*.{json,jsonc}]
indent_style = space
indent_size = 2
max_line_length = 120

# YAML - Prettier formatting (yamllint for linting)
[*.{yml,yaml}]
indent_style = space
indent_size = 2
max_line_length = 120

# Markdown - Prettier formatting (markdownlint for linting)
[*.md]
indent_style = space
indent_size = 2
max_line_length = 120
trim_trailing_whitespace = false

# HTML - Prettier formatting
[*.{html,htm}]
indent_style = space
indent_size = 2
max_line_length = 120

# CSS/SCSS/Less - Prettier formatting
[*.{css,scss,less}]
indent_style = space
indent_size = 2
max_line_length = 120

# Python - Black formatting
[*.py]
indent_style = space
indent_size = 4
max_line_length = 100

# Shell scripts - shfmt formatting
[*.{sh,bash,zsh}]
indent_style = space
indent_size = 2

# GraphQL - Prettier formatting
[*.{graphql,gql}]
indent_style = space
indent_size = 2
max_line_length = 120

# TOML - Prettier formatting
[*.toml]
indent_style = space
indent_size = 2
max_line_length = 100

# Makefile - tabs required
[{Makefile,*.mk}]
indent_style = tab
indent_size = 4
