[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "custom/themes/powerlevel10k"]
	path = custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
[submodule "custom/zsh-autosuggestions"]
	path = custom/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "custom/zsh-syntax-highlighting"]
	path = custom/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "custom/autojump"]
	path = custom/autojump
	url = https://github.com/wting/autojump.git
