# Git LFS tracking for JSH binaries
lib/bin/*/nvim filter=lfs diff=lfs merge=lfs -text
lib/bin/*/fzf filter=lfs diff=lfs merge=lfs -text
lib/bin/*/gitstatusd-* filter=lfs diff=lfs merge=lfs -text
lib/bin/*/nvim-lib/**/*.so filter=lfs diff=lfs merge=lfs -text
