[submodule "lib/p10k"]
	path = lib/p10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "lib/zsh-syntax-highlighting"]
	path = lib/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "lib/zsh-autosuggestions"]
	path = lib/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "lib/zsh-history-substring-search"]
	path = lib/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "lib/zsh-completions"]
	path = lib/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "lib/zsh-z"]
	path = lib/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "lib/fzf"]
	path = lib/fzf
	url = https://github.com/junegunn/fzf.git
