*.cache*
*.db
*.gpg
*.last-run
*.log
*.netrwhist
*.pem
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.sync-conflict-*
*.tmPreferences.cache
*.tmlanguage.cache
*.tmp
*Package\ Control.ca-bundle
*Package\ Control.ca-certs/
*Package\ Control.ca-list
*Package\ Control.cache/
*Package\ Control.last-run
*Package\ Control.merged-ca-bundle
*Package\ Control.system-ca-bundle
*Package\ Control.user-ca-bundle
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.config/argocd
.config/containers
.config/flipperdevices.com
.config/fontforge
.config/karabiner
.config/qBittorrent
.config/raycast
.config/syncthing
.config/systemd
.config/thefuck
.config/wireshark
.config/xnviewmp
.envrc
.fseventsd
.fzf
.history
.idea
.jsh_local
.kube
.mounts
.oh-my-zsh
.sops
.ssh
.stfolder
.talos
.vault
.vim/bundle/*
.vim/plugged/*
.zsh_history
.zsh_history.*
AppSupport
GitHub.sublime-settings
Network\ Trash\ Folder
Temporary\ Items
__pycache__
bh_unicode_properties.cache
node_modules
oscrypto-ca-bundle.crt
package-lock.json
package.json
sftp-config.json