__pycache__
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.bash_history
.brewcheck
.com.apple.timemachine.donotpresent
.config/syncthing
.DocumentRevisions-V100
.DS_Store
.env
.envrc
.fseventsd
.fzf
.history
.idea
.jsh_local
.kube
.LSOverride
.mounts.json
.npm
.oh-my-zsh
.planning/
.sops
.Spotlight-V100
.ssh
.stfolder
.stow-local-ignore
.talos
.task/
.TemporaryItems
.Trash
.Trashes
.vault
.vim/bundle/*
.vim/plugged/*
.VolumeIcon.icns
.vscode/argv.json
.vscode/cli/
.vscode/extensions/
.zsh_history
.zsh_history.*
*.cache*
*.chatmode.md
*.db
*.gpg
*.last-run
*.log
*.min.js
*.mk
*.netrwhist
*.pem
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.sync-conflict-*
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*[cC][lL][aA][uU][dD][eE]*
*[gG][eE][mM][iI][nN][iI]*
*[qQ][wW][eE][nN]*
*\ copy*
*Package\ Control.ca-bundle
*Package\ Control.ca-certs/
*Package\ Control.ca-list
*Package\ Control.cache/
*Package\ Control.last-run
*Package\ Control.merged-ca-bundle
*Package\ Control.system-ca-bundle
*Package\ Control.user-ca-bundle
# Git & Prettier Ignore File
# https://git-scm.com/docs/gitignore
# https://prettier.io/docs/en/ignore.html
# This file is used by both Git (.gitignore) and Prettier (.prettierignore symlink)
AppSupport
bh_unicode_properties.cache
bun.lockb
dotfiles/.config/argocd
dotfiles/.config/configstore
dotfiles/.config/containers
dotfiles/.config/flipperdevices.com
dotfiles/.config/fontforge
dotfiles/.config/karabiner
dotfiles/.config/qBittorrent
dotfiles/.config/raycast
dotfiles/.config/syncthing
dotfiles/.config/systemd
dotfiles/.config/thefuck
dotfiles/.config/wireshark
dotfiles/.config/xnviewmp
dotfiles/.vim/undodir/
GitHub.sublime-settings
Network\ Trash\ Folder
node_modules
node_modules/
oscrypto-ca-bundle.crt
package-lock.json
package.json
profiles.json
sftp-config.json
Temporary\ Items
